* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    height: 3000px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    min-height: 8vh;
    background-color: rgb(0, 98, 190);
    font-family: Arial, Helvetica, sans-serif;
}

.logo a {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 20px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: .3s;
}

@media screen and (max-width: 700px) {
    
    .home-welcome p {
        font-size: 15px;
        line-height: 25px;
    }

    ul {
        display: block;
    }
}

.home-welcome {
    margin: 40px 0 0 0;
    text-align: center;
}

.home-welcome p {
    font-size: 17px;
    line-height: 25px;
}

@media screen and (max-width: 700px) {
    .home-welcome {
        width: 80%;
        margin: 40px 0 0 40px;
    }

}


.offers {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}

.offers h1 {
    font-size: 36px;
    font-weight: 600px;
}

.offers p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.offers-col {
    flex-basis: 31%;
    background-color: #ecf0ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.offers-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.offers-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.three-categories {
    background-color: rgb(237, 237, 237);
    text-align: center;
    padding: 1px 0 250px 0;
}

.row2 {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.curtains-blinds-shutters-col {
    position: relative;
    display: grid;
    flex-basis: 32%;
    padding: 20px 12px;
    cursor: pointer;
}

.curtains-blinds-shutters-col img {
    height: 500px;
    width: 100%;
    transition: 0.5s;
    border-radius: 5px;
}

.curtains-blinds-shutters-col img:hover {
    filter: brightness(75%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.categories-info {
    position: absolute;
    top: 90%;
    left: 35px;
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 20px;
}

.categories-info h1 {
    color: rgb(47, 47, 47);
    margin-bottom: 5%;
}

.categories-info p {
    color: #777;
    line-height: 30px;
    margin-bottom: 5%;
}

.categories-info h4 {
    color:rgb(47, 47, 47);
}

@media screen and (max-width: 700px){
    .row{
        display: flex;
        flex-direction: column;
    }

    .row2{
        display: flex;
        flex-direction: column;
    }
}


.about-us-main {
    max-width: 1300px;
    margin: 0 auto;
}

.about-us-top {
    margin-top: 30px;
    background-color: white(128, 128, 128);
    height: 100px;
    text-align: center;
    border: px solid blue;
}

.about-us-top h1 {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    display: inline;
    padding-bottom: 20px;
}

.about-us-summary {
    border: px solid red;
    text-align: center;
    
}

.about-us-summary h4 {
    color: rgb(0, 68, 132);
    font-style: italic;
    line-height: 25px;
}

.about-us-question {
    padding-top: 50px;
    border: px solid blue;
}

.about-us-question h4 {
    text-align: center;
    margin-bottom: 20px;
}

.about-us-question p {
    color: rgb(40, 40, 40);
}

.contact-container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px 40px;
    background-color: rgb(0, 98, 190);
    border-radius: 7px;
    color: white;
}

.contact-right h3 {
    text-align: center;
    font-size: 25px;
}

.contact-right .contact-info {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
}

.contact-right .contact-info p {
    margin-bottom: 40px;
}

.contact-container h1 {
    margin-bottom: 10px;
}

.contact-container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    border: 1px solid gray;
    width: 100%;
    outline: none;
    padding: 15px 0 15px 15px;
}

textarea {
    border: 1px solid gray;
    width: 100%;
    outline: none;
    padding: 10px;

}

label {
    margin-bottom: 6px;
    font-weight: 550;
    display: block;
    color: rgb(0, 98, 190);
}

.send-button {
    background-color: rgb(0, 98, 190);
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: opacity 0.15s;
}

.send-button:hover {
    opacity: 0.8;
}

.contact-left h3 {
    color: rgb(0, 98, 190);
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 50px;
}




